.perfil {
  margin: 100px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perfil__info {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.perfil__feed {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.perfil__feed_carregando {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
