.card_usuario {
  display: flex;
  align-items: center;
  gap: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.card_usuario__nome {
  text-transform: capitalize;
}

.card_usuario__white {
  color: white;
}

.card_usuario__icone {
  width: 50px;
  border-radius: 50%;
}
